/uos-F4DiscoveryTest/f4discovery-blinky-micro-os-plus/Debug
/Packages
/uos-F4DiscoveryTest/.metadata
.metadata
/uos-F4DiscoveryTest/f4discovery-blinky-micro-os-plus/cube-mx/Drivers
/uos-F4DiscoveryTest/f4discovery-blinky-micro-os-plus/cube-mx/TrueSTUDIO
